In [1]:
import pandas as pd
df=pd.read_csv(r"C:\Users\rohit\Desktop\Data Project\customer_shopping_behavior.csv")

ONLY 1ST ROW DATA

In [2]:
df.iloc[0]

Customer ID                         1
Age                                55
Gender                           Male
Item Purchased                 Blouse
Category                     Clothing
Purchase Amount (USD)              53
Location                     Kentucky
Size                                L
Color                            Gray
Season                         Winter
Review Rating                     3.1
Subscription Status               Yes
Shipping Type                 Express
Discount Applied                  Yes
Promo Code Used                   Yes
Previous Purchases                 14
Payment Method                  Venmo
Frequency of Purchases    Fortnightly
Name: 0, dtype: object

FIRST 5 ROWS

In [3]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

SUMMARY STATISTICS OF NUMERICAL COLUMNS ONLY

In [5]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

SUMMARY STATISTICS OF NUMERICAL AND CATEGORICAL COLUMNS

In [6]:
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

TO CHECK MISSING OR NULL VALUES IN COLUMNS

In [7]:
df.isnull() .sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

NOW I WANT TO REMOVE THE NULL VALUES IN REVIEW RATING BUT IT CAN BE REMOVED BY MEAN,MEDIAN BUT WE CHOOSE MEDIAN BCOZ IT IS BETTER FOR OUTLIERS SO WE DO MEDIAN ON THE BASED OF CATEGORIES FOR DIFF CATEGORIES DIFF MEDIAN

In [8]:
df['Review Rating']=df.groupby('Category')['Review Rating'].transform(lambda x : x.fillna(x.median()))

we use .fillna(x.median()) bcoz fill null values with median

In [9]:
df.isnull() .sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

WE WANT OUR COLUMNS NAME IN SNAKECASE(LOWER+UNDERSCORE) FOR BETTER FORMATING AND AVOID CONFUSION

In [10]:
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')
df=df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [11]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [12]:
#create a colummn age_group
labels=['Young Adult','Adult','Middle-aged','Senior']
df['age_group'] = pd.qcut(df['age'],q=4,labels=labels)

In [13]:
df[['age','age_group']].head()

   age    age_group
0   55  Middle-aged
1   19  Young Adult
2   50  Middle-aged
3   21  Young Adult
4   45  Middle-aged

✔ qcut() divides the age column into 4 equal-sized groups (quartiles).
✔ Each group gets one of your labels:
Young Adult, Adult, Middle-aged, Senior
✔ Groups have equal number of people, not equal age range.

So the youngest 25% → Young Adult,
Next 25% → Adult,
Next 25% → Middle-aged,
Oldest 25% → Senior

In [14]:
# create column purchase_frequency_days

frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

This code converts text frequencies (Weekly, Monthly, etc.) into numbers (days).

✔ Step 1: A dictionary (frequency_mapping) matches each word to a number

Weekly → 7

Monthly → 30

Fortnightly / Bi-Weekly → 14

Quarterly → 90

Annually → 365

✔ Step 2: .map() replaces the text in the column

It looks at frequency_of_purchases, replaces each word using the dictionary,
and creates a new column purchase_frequency_days.

✔ Final Output

Text frequencies become numeric days:

Weekly → 7

Monthly → 30

Fortnightly → 14

Quarterly → 90

Annually → 365




.map() uses a dictionary to convert text labels into numbers.

In [15]:
df[['purchase_frequency_days','frequency_of_purchases']].head()

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually

In [16]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases', 'age_group',
       'purchase_frequency_days'],
      dtype='object')

In [17]:
(df['discount_applied'] == df['promo_code_used']).all()

np.True_

TRUE means both the columns are same so we need to drop one column

In [18]:
df=df.drop('promo_code_used',axis=1)

It removes the column "promo_code_used" from the DataFrame.

drop() → delete something

"promo_code_used" → the column you want to remove

axis=1 → means column (axis=0 would mean row)

df = → saves the updated DataFrame back into df

In [19]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [21]:
pip install pymysql sqlalchemy

Requirement already satisfied: pymysql in c:\users\rohit\appdata\local\programs\python\python312\lib\site-packages (1.1.2)
Requirement already satisfied: sqlalchemy in c:\users\rohit\appdata\local\programs\python\python312\lib\site-packages (2.0.44)
Requirement already satisfied: greenlet>=1 in c:\users\rohit\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\rohit\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
from sqlalchemy import create_engine
#STEP 1 : CONNECT TO MYSQL
#REPLACE PLACEHOLDERS WITH YOUR ACTUAL DETAILS
username = "root" #DEFAULT MYSQL USERNAME 
password = "0000" #the password you set in mysql 
host = "localhost" #if running locally 
port = "3306" #default Mysql Port 
database = "customer_behavior" #mysql database name
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

#STEP 2 : LOAD DATAFRAME INTO MYSQL 
table_name="mytable" # choose any table name
df.to_sql(table_name, engine, if_exists="replace",index=False)

#Read back sample pd.read_sql("SELECT * FROM mytable limit 5;",engine)